# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/

# Environments
.venv
uv.lock

# Visual Studio Code
tempCodeRunnerFile.py

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc

# Outputs
/outputs
*.pt

# Data
/data

# Docs
*.pdf

# Agents
AGENTS.md